USE [master]
GO
/****** Object:  Database [webTinTuc1]    Script Date: 07/11/2020 12:24:32 AM ******/
CREATE DATABASE [webTinTuc1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webTinTuc1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\webTinTuc1.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webTinTuc1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\webTinTuc1_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webTinTuc1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webTinTuc1]
GO
/****** Object:  StoredProcedure [dbo].[checkAcccount]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[checkAcccount]
	@matkhau nvarchar(255),
	@TaiKhoan nvarchar(255)
	as
	select * from tblNguoiDung where spass = @matkhau and susername = @TaiKhoan;
GO
/****** Object:  StoredProcedure [dbo].[get_thongtintaikhoan]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[get_thongtintaikhoan]
	@Taikhoan nvarchar(255),
	@Matkhau nvarchar(255)
as
	begin
		select * from tblNguoiDung
		where susername like @Taikhoan and spass = @Matkhau
	end
GO
/****** Object:  StoredProcedure [dbo].[insert_BaiViet]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_BaiViet]
@tieude nvarchar(150),
@noidung nvarchar(800),
@mota nvarchar(150),
@ngaydang datetime,
@manguoidang int,
@maLoaiBai int,
@urlanh varchar(100)
as
insert into tblBaiViet (stieude,snoidung,smota,dngaydang,imanguoidang, iMaLoaiBai,surlanh)
values(@tieude,@noidung,@mota,@ngaydang,@manguoidang,@maLoaiBai,@urlanh);
GO
/****** Object:  StoredProcedure [dbo].[select_Baibao_daduyet]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[select_Baibao_daduyet]
 as
 select * from tblBaiViet,tblLoaiBai where tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai
 and bduyet = 1
GO
/****** Object:  StoredProcedure [dbo].[sp_baoCaoSoLanXem]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[sp_baoCaoSoLanXem]
  as
  select * from tblbaiviet order by ilanxem DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_baoCaoSoLuongBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_baoCaoSoLuongBai]
  as
  select tblNguoiDung.shoten, isnull(count(tblBaiViet.iMaBaiViet),0) as soBai from tblBaiViet right join tblNguoiDung on tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung
  group by tblNguoiDung.shoten
GO
/****** Object:  StoredProcedure [dbo].[sp_capNhatTenLoaiBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[sp_capNhatTenLoaiBai]
  @ten nvarchar(20),
  @id int
  as
 update tblLoaiBai set stenloaibai = @ten where iMaLoaiBai = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhattk]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_capnhattk]
@id int,
@ten nvarchar(35),
@gt bit,
@maquyen int,
@dt varchar(20),
@mail varchar(20)
as
update tblNguoiDung set shoten = @ten,bGioiTinh = @gt,iMaQuyen = @maquyen,sSDT = @dt,sEmail= @mail
where iMaNguoiDung = @id

GO
/****** Object:  StoredProcedure [dbo].[sp_danhSach4BaiVietMoiNhat]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   create proc [dbo].[sp_danhSach4BaiVietMoiNhat]
  as
  select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 order by dngaydang DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_danhSachBaiVietTheoID]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_danhSachBaiVietTheoID]
  @id int
  as
  select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 and tblLoaiBai.iMaLoaiBai = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_danhSachBaiVietTimKiem]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_danhSachBaiVietTimKiem]
   @tutimkiem nvarchar(40)
   as
   select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 and tblBaiViet.stieude like '%' + @tutimkiem + '%'
GO
/****** Object:  StoredProcedure [dbo].[sp_danhSachBaiVietTop4]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_danhSachBaiVietTop4]
  as
  select top 4 * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 order by tblBaiViet.ilanxem DESC

GO
/****** Object:  StoredProcedure [dbo].[sp_danhSachLoaiBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_danhSachLoaiBai]
  as
  select * from tblLoaiBai
GO
/****** Object:  StoredProcedure [dbo].[sp_DuyetBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DuyetBai]
	@idBai int,
	@idNguoiDung int,
	@thoigian datetime
	as
	declare @tt bit
	set @tt = (select bduyet from tblBaiViet  where iMaBaiViet = @idBai)
	print(@tt)
	if(@tt = 1)
	begin
	update tblBaiViet set imanguoiDuyet = @idNguoiDung, bduyet = 0,dngayduyet = @thoigian where iMaBaiViet = @idBai
	end 

	else 
	begin
	update tblBaiViet set imanguoiDuyet = @idNguoiDung, bduyet = 1,dngayduyet = @thoigian where iMaBaiViet = @idBai
	end 

GO
/****** Object:  StoredProcedure [dbo].[sp_themBaiViet]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE proc [dbo].[sp_themBaiViet]
  @smota nvarchar(150),
  @stieude nvarchar(150),
  @snoidung nvarchar(max),
  @imanguoidang int,
  @imaloaibai int,
  @surlanh varchar(30),
  @dngaydang datetime
  as
  insert into tblBaiViet (smota,snoidung, stieude, surlanh, iMaLoaiBai, iMaNguoiDang, dngaydang) values
  (@smota,@snoidung,@stieude,@surlanh,@imaloaibai,@imanguoidang,@dngaydang)
GO
/****** Object:  StoredProcedure [dbo].[sp_thembinhluan]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_thembinhluan]  --ok
@hoten nvarchar(50),
@noidung nvarchar(200),
@email nvarchar(150),
@thoigian datetime,
@mabaiviet int
as
insert into tblbinhluan (shoten, semail, snoidung, dthoigian, imabaiviet)
values(@hoten, @email, @noidung, @thoigian,@mabaiviet);
  
GO
/****** Object:  StoredProcedure [dbo].[sp_themLoaiBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_themLoaiBai]
  @loaiBai nvarchar(20)
  as
  insert into tblLoaiBai (stenloaibai) values (@loaiBai)
GO
/****** Object:  StoredProcedure [dbo].[sp_themtk]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_themtk]
@user nvarchar(30),
@pass nvarchar(100),
@ten nvarchar(35),
@gt bit,
@maquyen int,
@dt varchar(20),
@mail varchar(20)
as
insert into tblNguoiDung (susername,spass,shoten,bGioiTinh,iMaQuyen,sSDT,sEmail) values
(@user,@pass,@ten,@gt,@maquyen,@dt,@mail)
GO
/****** Object:  StoredProcedure [dbo].[sp_xemBaiVietCungLoai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
     create proc [dbo].[sp_xemBaiVietCungLoai]
   @id int
   as
   declare @maLoai int
   set @maLoai = (select iMaLoaiBai from tblBaiViet where iMaBaiViet = @id)

   select  top 5 * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 and tblBaiViet.iMaLoaiBai = @maLoai
GO
/****** Object:  StoredProcedure [dbo].[sp_xemBaiVietID]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_xemBaiVietID]
   @id int
   as
   update tblBaiViet set ilanxem = ilanxem + 1 where iMaBaiViet = @id
   select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
   tblBaiViet.bduyet = 1 and tblBaiViet.iMaBaiViet = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_xembinhluan]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_xembinhluan]
@id int
as
select * from tblbinhluan where imabaiviet = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_xemdanhsachbaidang]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE proc [dbo].[sp_xemdanhsachbaidang]
  as
  select * from tblBaiViet, tblLoaiBai, tblNguoiDung where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai 
  order by dngaydang DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_xemdanhsachbaidangbyidnguoidung]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_xemdanhsachbaidangbyidnguoidung]
	@idnguoidung int
  as
  select * from tblBaiViet, tblLoaiBai, tblNguoiDung where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and tblBaiViet.iMaNguoiDang = @idnguoidung

GO
/****** Object:  StoredProcedure [dbo].[sp_xemtheoloai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE proc [dbo].[sp_xemtheoloai]
   @id int
   as
   select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
 tblLoaiBai.iMaLoaiBai =  @id order by iThuTuUuTienTheoLoaiBai asc
GO
/****** Object:  StoredProcedure [dbo].[sp_xemtheotentimkiem]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_xemtheotentimkiem]
   @ten nvarchar(30)
   as
   select * from tblBaiViet, tblNguoiDung, tblLoaiBai 
  where tblBaiViet.iMaNguoiDang = tblNguoiDung.iMaNguoiDung and tblBaiViet.iMaLoaiBai = tblLoaiBai.iMaLoaiBai and
 tblBaiViet.stieude like '%' +  @ten +'%'
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaBaiDang]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_XoaBaiDang]
  @id int
  as
  delete from tblLoaiBai where iMaLoaiBai = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaBinhLuan]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_XoaBinhLuan]
@id int
as
delete from tblbinhluan where imabinhluan = @id

GO
/****** Object:  StoredProcedure [dbo].[update_BaiViet]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_BaiViet]
@maBai int,
@stieude nvarchar(150),
@snoidung nvarchar(max),
@smota nvarchar(150),
@imaLoaiBai int,
@surlanh varchar(150)
as
update tblBaiViet set stieude = @stieude, snoidung = @snoidung , smota = @smota,
 iMaLoaiBai = @imaLoaiBai, surlanh = @surlanh
where iMaBaiViet = @maBai
GO
/****** Object:  StoredProcedure [dbo].[update_BaiViet_khongAnh]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_BaiViet_khongAnh]
@maBai int,
@stieude nvarchar(150),
@snoidung nvarchar(max),
@smota nvarchar(150),
@imaloaibai int
as
update tblBaiViet set stieude = @stieude, snoidung = @snoidung , smota = @smota,
 iMaLoaiBai = @imaloaibai where iMaBaiViet = @maBai
GO
/****** Object:  StoredProcedure [dbo].[updatePassWord]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create proc [dbo].[updatePassWord]
	@matkhau nvarchar(255),
	@TaiKhoan nvarchar(255)
	as
	update tblNguoiDung set spass = @matkhau where susername = @TaiKhoan;
GO
/****** Object:  Table [dbo].[tblBaiViet]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBaiViet](
	[iMaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[stieude] [nvarchar](150) NULL,
	[bduyet] [bit] NULL,
	[ilanxem] [int] NULL,
	[dngaydang] [datetime] NULL,
	[iMaNguoiDang] [int] NULL,
	[dngayduyet] [datetime] NULL,
	[imanguoiDuyet] [int] NULL,
	[btrangthai] [bit] NULL,
	[iMaLoaiBai] [int] NOT NULL,
	[smota] [nvarchar](150) NULL,
	[snoidung] [nvarchar](max) NULL,
	[surlanh] [varchar](150) NULL,
	[iThuTuUuTienTheoLoaiBai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iMaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBinhLuan]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBinhLuan](
	[imabinhluan] [int] IDENTITY(1,1) NOT NULL,
	[imabaiviet] [int] NOT NULL,
	[shoten] [nvarchar](50) NULL,
	[semail] [nvarchar](50) NULL,
	[snoidung] [nvarchar](200) NULL,
	[dthoigian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[imabinhluan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLoaiBai]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiBai](
	[iMaLoaiBai] [int] IDENTITY(1,1) NOT NULL,
	[stenloaibai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iMaLoaiBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNguoiDung]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNguoiDung](
	[iMaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[susername] [nvarchar](35) NULL,
	[spass] [nvarchar](100) NULL,
	[shoten] [nvarchar](35) NULL,
	[bGioiTinh] [bit] NULL,
	[iMaQuyen] [int] NOT NULL,
	[sSDT] [varchar](20) NULL,
	[sEmail] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[iMaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblquyen]    Script Date: 07/11/2020 12:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblquyen](
	[iMaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[stenQuyen] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[iMaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblBaiViet] ON 

SET IDENTITY_INSERT [dbo].[tblBaiViet] OFF
SET IDENTITY_INSERT [dbo].[tblBinhLuan] ON 

INSERT [dbo].[tblBinhLuan] ([imabinhluan], [imabaiviet], [shoten], [semail], [snoidung], [dthoigian]) VALUES (1, 2, N'Huy dz', N'hou@hou.com', N'Bài Viết Tuyệt Vời', CAST(0x0000AC5800464712 AS DateTime))
INSERT [dbo].[tblBinhLuan] ([imabinhluan], [imabaiviet], [shoten], [semail], [snoidung], [dthoigian]) VALUES (2, 2, N'Hay Đặng', N'hou@hou.com', N'Tốt', CAST(0x0000AC5800468C57 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblBinhLuan] OFF
SET IDENTITY_INSERT [dbo].[tblLoaiBai] ON 

INSERT [dbo].[tblLoaiBai] ([iMaLoaiBai], [stenloaibai]) VALUES (1, N'LÀM ĐẸP')
INSERT [dbo].[tblLoaiBai] ([iMaLoaiBai], [stenloaibai]) VALUES (3, N'MAKEUP')
INSERT [dbo].[tblLoaiBai] ([iMaLoaiBai], [stenloaibai]) VALUES (4, N'BODY & HAIR')
SET IDENTITY_INSERT [dbo].[tblLoaiBai] OFF
SET IDENTITY_INSERT [dbo].[tblNguoiDung] ON 

INSERT [dbo].[tblNguoiDung] ([iMaNguoiDung], [susername], [spass], [shoten], [bGioiTinh], [iMaQuyen], [sSDT], [sEmail]) VALUES (1, N'admin', N'123', N'admin', 1, 3, NULL, NULL)
INSERT [dbo].[tblNguoiDung] ([iMaNguoiDung], [susername], [spass], [shoten], [bGioiTinh], [iMaQuyen], [sSDT], [sEmail]) VALUES (2, N'admin1', N'123', N'admin12', 0, 1, N'HUY555', N'huy@gmail.com')
INSERT [dbo].[tblNguoiDung] ([iMaNguoiDung], [susername], [spass], [shoten], [bGioiTinh], [iMaQuyen], [sSDT], [sEmail]) VALUES (3, N'admin2', N'CC0D45BC2F499FC4666D09691485A0F9', N'admin2', 1, 2, N'32324234', N'23423@gmail.com')
SET IDENTITY_INSERT [dbo].[tblNguoiDung] OFF
SET IDENTITY_INSERT [dbo].[tblquyen] ON 

INSERT [dbo].[tblquyen] ([iMaQuyen], [stenQuyen]) VALUES (1, N'Member')
INSERT [dbo].[tblquyen] ([iMaQuyen], [stenQuyen]) VALUES (2, N'Admin')
INSERT [dbo].[tblquyen] ([iMaQuyen], [stenQuyen]) VALUES (3, N'Adminn')
SET IDENTITY_INSERT [dbo].[tblquyen] OFF
ALTER TABLE [dbo].[tblBaiViet] ADD  DEFAULT ((0)) FOR [bduyet]
GO
ALTER TABLE [dbo].[tblBaiViet] ADD  DEFAULT ((0)) FOR [ilanxem]
GO
ALTER TABLE [dbo].[tblBaiViet] ADD  DEFAULT ((1)) FOR [btrangthai]
GO
ALTER TABLE [dbo].[tblBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_theloai] FOREIGN KEY([iMaLoaiBai])
REFERENCES [dbo].[tblLoaiBai] ([iMaLoaiBai])
GO
ALTER TABLE [dbo].[tblBaiViet] CHECK CONSTRAINT [fk_theloai]
GO
ALTER TABLE [dbo].[tblBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_thelưaoai] FOREIGN KEY([iMaNguoiDang])
REFERENCES [dbo].[tblNguoiDung] ([iMaNguoiDung])
GO
ALTER TABLE [dbo].[tblBaiViet] CHECK CONSTRAINT [fk_thelưaoai]
GO
ALTER TABLE [dbo].[tblBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_binhlaun] FOREIGN KEY([imabaiviet])
REFERENCES [dbo].[tblBaiViet] ([iMaBaiViet])
GO
ALTER TABLE [dbo].[tblBinhLuan] CHECK CONSTRAINT [fk_binhlaun]
GO
ALTER TABLE [dbo].[tblNguoiDung]  WITH CHECK ADD  CONSTRAINT [asdasdfk] FOREIGN KEY([iMaQuyen])
REFERENCES [dbo].[tblquyen] ([iMaQuyen])
GO
ALTER TABLE [dbo].[tblNguoiDung] CHECK CONSTRAINT [asdasdfk]
GO
USE [master]
GO
